@import '../scss/base/colores';
@import '../scss/base/fonts';
@import '../scss/componentes/footer';
@import '../scss/componentes/header';

// Style reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-rose;
}



.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 114px;
    background-color: black;
    h1 {
        @include soraMedium();
        color: $text-white;
        position: absolute;
        z-index: 5;
        font-size: 4rem;
    }
    img {
        width: 100%;
        opacity: 80%;
    }
}

.home-info-container {
    width: 100%;
    background: $light-blue;
    margin: 0;
}

.payment-info{
    padding: 80px 0;
    width: calc(100% - 48px);

    .payment-info__section{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: calc(33% - 8px);

        svg{
            fill: white;
        }

        p{
            @include sora();
            font-size: 1rem;
            font-weight: 400;
            max-width: 220px;
            color: white;
        }
    }
}

.home_catalogo{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 72px 0;
    background-color: $light-gray;

    .home_catalogo__container{
        width: calc(100% - 128px);
        gap: .5rem;
    }

    .home_catalogo__options {
        width: calc(33% - .5rem);
        height: 420px;
        display:block;
        background-repeat: no-repeat;
        background-position: center;
        display:flex;
        align-items: flex-end;
        justify-content: center;
        
        a {
            @include sora();
            text-decoration: none;
            color: white;
            opacity: 0;
        }

        &:hover{
            background-color: black;
            background-image: none;
            align-items: center;

            a{
                opacity: 1;
            }
            
        }
    }

    

    .optn-1{
        background-image: url(../imgs/home/equipos_internacionales.png);
    }
    .optn-2{
        background-image: url(../imgs/home/equipos_nacionales.png);
    }
    .optn-3{
        background-image: url(../imgs/home/seleccion_argentina.png);
    }
}


.filter-section{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    h2 {
        @include soraSemiBold();
        font-size: 20px;
        margin: 0;
    }
    h3 {
        @include soraSemiBold();
        font-size: 14px;
    }
    a, label{
        font-size: 14px;
        @include soraRegular();
        color: #909090;
        line-height: 14px;
        margin: 0;
        text-decoration: none;
    }

}

.numbfield{
    max-width: 80px;
}



.catalogo-main{
    width: calc(100% - 96px);
}


.filter--titleNItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    .filter--items{
        display: flex;
        flex-direction: column;
        gap: 16px
        
    }

}

.filter-input-boxes{
    display: flex;
    flex-direction: row;
    gap:8px;
    justify-items: flex-end;
    align-items: flex-end;
}

.send-button{
    color: white;
    background-color: black;
    border: none;
    padding: 0 16px;
    margin: 0;
    font-size: 16px;
    height: 28px;
    max-height: 28px;
    text-align: center;
    justify-self: flex-start;
    border-radius: 16px;
}

.product-container{
gap: 8px;
margin: 80px 0;

}
.product-card{
    background-color: white;
    width: calc(calc(100%/3) - 6px);
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    img{
        width: calc(100% - 32px);
    }
    h4 {
        @include soraMedium();
        font-size: 20px;
       text-align: left;
       margin: 0 16px;
       padding-top: 16px;
    }

    p{
        @include soraMedium();
        font-size: 20px;
        color: green;
        text-align: right;
        margin-right: 16px;
    }
}

.addToCart {
    color: white;
    background-color: black;
    width: calc(100% - 16px);
    margin: 16px;
    padding: 12px 0;
    border-style: none;
    border-radius: 2rem;
    
}

.catalogo-main{
    padding-top: 114px;
}


.carritoMain{
    padding-top: 200px;
    margin: 0 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 120px;

    .deleteContainer{
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        .deleteCart{
            @extend .addToCart;
            width: fit-content;
            margin: 0px;
            padding: 12px 32px;
            align-self: flex-end;
        }
    }

    .cart-bill-list{
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 16px;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        align-content: center;
        padding: 24px 0;
        img {
            margin-left: 24px;
        }
        .p-name{
            @include soraRegular();
            margin: 0;
            text-align: justify;
            width: 60%
        }
        .p-price{
            @include soraSemiBold();
            color: green;
            margin: 0;
        }
        .removeFromCart{
            @extend .addToCart;
            width: fit-content;
            margin: 0px;
            margin-right: 24px;
            padding: 8px 14px 12px 14px;
            svg{
                margin: 0;
            }
        }

        
    }
}
